*{
    margin: 0;
    padding: 0;
}
body{background-color: rgb(199, 247, 212);}
.contenedor {background-color: aliceblue;
width: 960px;
margin-left: auto;
margin-right: auto;}
table, th, td{
    border: 5px solid black
    border-collapse: collapse;
    background-color: rgb(161, 25, 255);
    margin-left: auto;
    margin-right: auto;
    padding: 25px;
    font-family: cambria, cochin, georgia, times, 'Times New Roman', serif;
}
th{
    background-color: blueviolet;
    color: rgb(252, 254, 255);
}
header{
background-color: blueviolet;
padding: 15px;
}
h1{
    color: white;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 35px;
}
h2{
    color: rgb(195, 140, 247);
    text-align: center;
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 15px;
}
h3{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 50px;
    color: rgb(82, 82, 82);
    margin-bottom: 50px;
}
data {
    background-color: antiquewhite;
}
.empresa{
    border: 8px solid black;
}
p{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-left: 25px;
    margin-bottom: 20px;
}
iframe{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    height: 350px;
}
text{
    color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}
.derechos{
    text-align: center;
    padding: 25px;
    color: rgb(255, 255, 255);
}
footer{
    background-color: blueviolet;
}